---
import NavBar from '../components/NavBar.astro';
import HeroSection from '../sections/HeroSection.astro';
import MessageSection from '../sections/MessageSection.astro';
import GallerySection from '../sections/GallerySection.astro';
import AboutSection from '../sections/AboutSection.astro';
import BenefitSection from '../sections/BenefitSection.astro';
import TestimonialSection from '../sections/TestimonialSection.astro';
import ActionSection from '../sections/ActionSection.astro';
import FooterSection from '../sections/FooterSection.astro';
import '../styles/index.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>FASITLAC - Software & Security</title>
  </head>
  <body>
    <NavBar />
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <HeroSection />
        <MessageSection />
        <TestimonialSection />
        <GallerySection />
        <AboutSection />
        <div>
          <BenefitSection />
        </div>
        <ActionSection />
        <FooterSection />
      </div>
    </div>
  </body>
</html>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger, ScrollSmoother } from 'gsap/all';
  gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

  ScrollSmoother.create({
    smooth: 3,
    effects: true,
  });
</script>
